<header class="header">
  <div class="content">
    <h1 class="title">Rick and Morty</h1>
    <div class="container-search">
      <input type="text" placeholder="Buscar" (input)="search($event)" />
      <select (change)="filterByStatus($event)">
        <option value="">Filtrar por status</option>
        <option value="alive">Alive</option>
        <option value="dead">Dead</option>
        <option value="unknown">Unknown</option>
      </select>
      <select (change)="filterBySpecie($event)">
        <option value="">Filtrar por espécie</option>
        <option value="Human">Human</option>
        <option value="Alien">Alien</option>
      </select>
    </div>
  </div>
</header>
