.header {
    width: 100vw;
    background-color:  #16171a;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

.content {
    width: 100%;
    display: flex;
   justify-content: center;
}

.container-search {
    display: flex;
    width: 10px;
    justify-content: center;
    position: relative;
    left: 30%;
    gap: 20px
}

@media (max-width: 1366px) {
    .container-search {
        left: 22%;
    }

}

input, select {
    border-radius: 8px;
    padding: 5px;  
}

::-webkit-input-placeholder {
   color: black;
}
