<div class="main">
  <app-header (searchTermChange)="searchTerm = $event" (statusTermChange)="status = $event"  (specieTermChange)="species = $event"></app-header>
  <div class="content">
    <app-characters *ngIf="showCharacters" [searchTerm]="searchTerm" [status]="status" [species]="species"></app-characters>
    <app-episodes *ngIf="!showCharacters" [searchTerm]="searchTerm"></app-episodes>
  </div>
  <app-sidebar (itemClicked)="onItemClicked($event)"></app-sidebar>
  
  <app-character-detail></app-character-detail>
</div>
